<div class="shadow-lg sm:flex">
  <div class="w-full bg-white">
    <div class="p-8">
      <form [formGroup]="createQuizForm"> 
        <input id="title"
          class="mat-display-3 bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1"
          type="text" placeholder="Titre" />
        <mat-form-field>
          <ngx-mat-file-input formControlName="quizImage" placeholder="JPEG file only" [accept]="'.jpeg,.jpg'">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <a [routerLink]="['']">
          <button
            class="shadow-lg pt-3 pb-3 w-full text-white bg-indigo-500 hover:bg-indigo-400 rounded-full cursor-pointer "
            (click)="onCreate()">
            Créer le quiz
          </button>
        </a>
      </form>
    </div>
  </div>
</div>

<!-- TODO: To Scaffold Quiz Add Form-->