<h1>Les Quiz partagés</h1>

<div class="container w-full flex-full">
    <div class="flex mx-auto">
       
        <mat-form-field class="justify-start px-12 align-center">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Filter" class="px-12 py-3 text-teal-900 rounded-b shadow-md" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <div class="spinner-container center align-center" *ngIf="isLoadingResults">
            <mat-spinner></mat-spinner>
            <!-- TODO:fix spinner style position-->
        </div>
    </div>
    <div class="shadow-lg mat-elevation-z8 px-6exi" style="cursor:pointer">
        <table  mat-table [dataSource]="datasource" matSort matSortActive="dateCreated" matSortDirection="desc"
            matSortDisableClear class="font-mono">

            <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </th>
                <td mat-cell *matCellDef="let q"> {{q?.dateCreated | date : 'd MMMM y' : '':'fr-FR'}} </td> 
            </ng-container>

            <ng-container matColumnDef="theme">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thème </th>
                <td mat-cell *matCellDef="let q"> {{q?.theme}} </td>
            </ng-container>
     
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let q"> {{q?.title}}
                <br>
                <p class="w-full text-gray-700 font-mono"> {{q?.description}}</p>
                 </td>
            </ng-container>

            <ng-container matColumnDef="creator">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creator </th>
                <td mat-cell *matCellDef="let q"> {{q?.creator?.fullusername}}
                 </td>
            </ng-container>

            <ng-container matColumnDef="cover" class="lg:hidden">
                <th mat-header-cell *matHeaderCellDef> Cover </th>
                <td mat-cell *matCellDef="let q"> <img class="h-12" [src]="q?.cover"> </td>
            </ng-container>

            <ng-container matColumnDef="shared">
                <th mat-header-cell *matHeaderCellDef> Shared </th>
                <td mat-cell *matCellDef="let q">
                   {{q.isShared}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let q">
                   <button mat-button (click)="duplicate(q?._id)" class="tooltip">
                       <mat-icon class="icon-button" color="warn">file_copy</mat-icon>
                       <span class='tooltip-text bg-blue-200 p-3 -mt-6 -ml-6 rounded'>Ajouter à mes quiz</span>
                    </button>
                   <button mat-button (click)="viewQuestionList(q?._id)"><mat-icon class="icon-button" color="primary">visibility</mat-icon></button>
                </td>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </table>

        <mat-paginator [length]="quiz?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        
    </div>
</div>
