<ngx-charts-bar-vertical
  (window:resize)="onResize($event)"
  [view]="view"
  [scheme]="colorScheme"
  [results]="forGraph"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>

<ngx-charts-bar-horizontal-stacked
  [view]="evaluationType_view"
  [scheme]="evaluationType_colorScheme"
  [results]="forEvaluationTypeGraph"
  [gradient]="evaluationType_gradient"
  [xAxis]="evaluationType_showXAxis"
  [yAxis]="evaluationType_showYAxis"
  [legend]="evaluationType_showLegend"
  [showXAxisLabel]="evaluationType_showXAxisLabel"
  [showYAxisLabel]="evaluationType_showYAxisLabel"
  [xAxisLabel]="evaluationType_xAxisLabel"
  [yAxisLabel]="evaluationType_yAxisLabel">
</ngx-charts-bar-horizontal-stacked>