mat-sidenav-container{  
    height: 100%;
}

mat-sidenav ,mat-sidenav-content{
 padding: 1rm;
 height: 87vh;
 max-height: fit-content;
 min-height: min-content;
}

mat-sidenav{
    width:250px;
    
}


mat-icon{
    cursor: pointer;
}