<mat-nav-list>  
    <mat-list>    
        <mat-list-item>
            <mat-icon color="primary">settings</mat-icon>
            <a [routerLink]='["/creator/shared"]'>
                <h4 mat-line>Shared Quizzes</h4>
            </a>
            <h4 mat-line></h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon color="primary">supervisor_account</mat-icon>
            <a [routerLink]='["/creator/group"]'>
                <h4 mat-line>Mes Groupes</h4>
            </a>
            <h4 mat-line></h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon color="primary">person</mat-icon>
            <a [routerLink]='["/creator/student"]'>
                <h4 mat-line>Mes Apprenants</h4>
            </a>
            <h4 mat-line></h4>
        </mat-list-item>

        <mat-list-item>
            <mat-icon color="primary">play_circle_outline</mat-icon>
            <a [routerLink]='["/creator/session/list"]'>
                <h4 mat-line>Mes Sessions</h4>
            </a>
            <h4 mat-line></h4>
        </mat-list-item>

        <mat-list-item>
            <mat-icon color="primary">person</mat-icon>
            <a [routerLink]='["/back/customer"]'>
                <h4 mat-line>Customers</h4>
            </a>
            <h4 mat-line></h4>
        </mat-list-item>

    </mat-list>
</mat-nav-list>