<div class="flex flex-col mx-auto">
  <!--************* F O R M U L A I R E **********************-->
  <div class="shadow-lg sm:flex sm:w-full bg-white p-8 py-3 mx-2 w-full">
    <form [formGroup]="createGroupForm" class="w-full p-5 m-5">
      <!--************* N O M   D U   G R O U P E  **********************-->
      <mat-form-field class="w-full">
        <input matInput
          class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1 text-4xl"
          type="text" placeholder="Nom du groupe" required formControlName="label">
      </mat-form-field>
      <!--************* D E S C R I P T I O N  **********************-->
      <mat-form-field class="w-full">
        <input class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1" type="text"
          placeholder="Description" formControlName="description" matInput>
      </mat-form-field>


      <!--************* B O U T O N   S U B M I T  **********************-->
      <div class="w-full">
        <button mat-raised-button color="primary" (click)="saveGroup()" [disabled]="!createGroupForm.valid">
          <span *ngIf="!isCreated"> Créer le Groupe </span>
          <span *ngIf="isCreated"> Enregistrer le Groupe </span>
        </button>
      </div>

    </form>
  </div>


  <div class="flex flex-row">
    <div class="flex w-1/2 justify-center py-4 px-2 bg-gray-200 m-3">
      <app-add-student [groupId]="currentGroup?._id" [creator]="currentGroup?.owner" [context]="context"
        [student]="studentToUpdate" (onStudentSave)="onStudentSaveHandler($event)">
      </app-add-student>
    </div>
    <div class="shadow-lg w-1/2 sm:flex sm:w-full bg-white p-8 py-2 my-2 mx-2 ">
      <app-students-gadget (onStudentUpdateClicked)="updateStudentContext($event)" class="w-full">
      </app-students-gadget>
    </div>
  </div>
  <div class="w-1/6 px-3 py-3 justify-center">
    <button mat-button color="accent" [routerLink]="['/creator']">Terminé</button>
  </div>


</div>