
<div class="px-8 mx-auto mt-8">
  <div class="mx-auto">
    <div class="shadow-lg sm:flex">
      <div class="sm:w-2/5 w-full bg-gray-400 bg-cover bg-center text-white"
        style="background-image: url('assets/login_cover.jpg')">
        <div class="p-8">
          <h1>SIGN<span class="text-indigo-400">UP</span></h1>
          <p class="leading-tight mt-2 text-sm text-white">Create an account to join our awesome community</p>
        </div>
      </div>
      <div class="sm:w-3/5 w-full bg-white">
        <div class="p-8">
          <form>
            <label for="firstname" class="text-xs text-gray-500">Prénom</label>
            <input id="firstname"
              class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1" type="text"
              placeholder="Tapez votre prénom" />
            <label for="lastname" class="text-xs text-gray-500">Nom</label>
            <input id="lastname"
              class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1" type="text"
              placeholder="Tapez votre nom" />
            <label for="username" class="text-xs text-gray-500">Nom d'utilisateur</label>
            <input id="username"
              class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-700 pb-1" type="text"
              placeholder="Choisir un nom d'utilisateur" />
            <label id="passowrd" class="text-xs text-gray-500">Mot de passe</label>
            <input id="password"
              class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-grey-700 pb-1"
              type="password" placeholder="Tapez votre mot de passe" />
            <label id="passowrd1" class="text-xs text-gray-500">Vérification de mot de passe</label>
            <input id="password1"
              class="bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-grey-700 pb-1"
              type="password" placeholder="Retapez votre mot de passe" />

            <a [routerLink]="['signin']">
              <button
                class="shadow-lg pt-3 pb-3 w-full text-white bg-indigo-500 hover:bg-indigo-400 rounded-full cursor-pointer "
                type="submit" value="Create account">
                Créer le compte
              </button>
            </a>
          </form>
          <div class="text-center mt-4">
            <p class="text-sm text-gray-600">Vous avez déjà un compte?
              <a [routerLink]="['/']" class="no-underline text-indigo-500 font-bold hover:text-indigo-400">Connecter-vous
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <!-- TODO: Clean Up cards -->
    <div class="p-8">
      <div class="shadow-xl rounded-lg">
        <div
          style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')"
          class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
          <p class="text-white font-bold text-4xl">Profile</p>
        </div>
        <div class="bg-white rounded-b-lg px-8">
          <div class="relative">
            <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8"
              src="http://tailwindtemplates.io/wp-content/uploads/2019/03/link.jpg" alt="Avatar of Jonathan Reinink">
          </div>
          <div class="pt-8 pb-8">
            <h1 class="text-2xl font-bold text-gray-700">Link</h1>
            <p class="text-sm text-gray-600">From hyrule</p>

            <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius,
              fringilla sapien at, sollicitudin risus.</p>

            <div class="flex justify-around mt-8">
              <i class="material-icons">chat</i>
              <i class="material-icons">duo</i>
              <i class="material-icons">location</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-8">
      <div class="shadow-xl rounded-lg">
        <div
          style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')"
          class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
          <p class="text-white font-bold text-4xl">Profile</p>
        </div>
        <div class="bg-white rounded-b-lg px-8">
          <div class="relative">
            <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8"
              src="http://tailwindtemplates.io/wp-content/uploads/2019/03/link.jpg" alt="Avatar of Jonathan Reinink">
          </div>
          <div class="pt-8 pb-8">
            <h1 class="text-2xl font-bold text-gray-700">Link</h1>
            <p class="text-sm text-gray-600">From hyrule</p>

            <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius,
              fringilla sapien at, sollicitudin risus.</p>

            <div class="flex justify-around mt-8">
              <i class="material-icons">chat</i>
              <i class="material-icons">duo</i>
              <i class="material-icons">location</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-8">
      <div class="shadow-xl rounded-lg">
        <div
          style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')"
          class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
          <p class="text-white font-bold text-4xl">Profile</p>
        </div>
        <div class="bg-white rounded-b-lg px-8">
          <div class="relative">
            <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8"
              src="http://tailwindtemplates.io/wp-content/uploads/2019/03/link.jpg" alt="Avatar of Jonathan Reinink">
          </div>
          <div class="pt-8 pb-8">
            <h1 class="text-2xl font-bold text-gray-700">Link</h1>
            <p class="text-sm text-gray-600">From hyrule</p>

            <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius,
              fringilla sapien at, sollicitudin risus.</p>

            <div class="flex justify-around mt-8">
              <i class="material-icons">chat</i>
              <i class="material-icons">duo</i>
              <i class="material-icons">location</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-8">
      <div class="shadow-xl rounded-lg">
        <div
          style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')"
          class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
          <p class="text-white font-bold text-4xl">Profile</p>
        </div>
        <div class="bg-white rounded-b-lg px-8">
          <div class="relative">
            <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8"
              src="http://tailwindtemplates.io/wp-content/uploads/2019/03/link.jpg" alt="Avatar of Jonathan Reinink">
          </div>
          <div class="pt-8 pb-8">
            <h1 class="text-2xl font-bold text-gray-700">Link</h1>
            <p class="text-sm text-gray-600">From hyrule</p>

            <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius,
              fringilla sapien at, sollicitudin risus.</p>

            <div class="flex justify-around mt-8">
              <i class="material-icons">chat</i>
              <i class="material-icons">duo</i>
              <i class="material-icons">location</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-8">
      <div class="shadow-xl rounded-lg">
        <div
          style="background-image: url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')"
          class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center">
          <p class="text-white font-bold text-4xl">Profile</p>
        </div>
        <div class="bg-white rounded-b-lg px-8">
          <div class="relative">
            <img class="right-0 w-16 h-16 rounded-full mr-4 shadow-lg absolute -mt-8"
              src="http://tailwindtemplates.io/wp-content/uploads/2019/03/link.jpg" alt="Avatar of Jonathan Reinink">
          </div>
          <div class="pt-8 pb-8">
            <h1 class="text-2xl font-bold text-gray-700">Link</h1>
            <p class="text-sm text-gray-600">From hyrule</p>

            <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sem varius,
              fringilla sapien at, sollicitudin risus.</p>

            <div class="flex justify-around mt-8">
              <i class="material-icons">chat</i>
              <i class="material-icons">duo</i>
              <i class="material-icons">location</i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


