<div [ngSwitch]="question_type">
    <app-qcu-question-form 
        (onQuestionSave)="questionSaved()" 
        [quizId]="quizId" *ngSwitchCase="'QCU'"
        [context]="context" 
        [question]="question">
    </app-qcu-question-form>
    <app-qcm-question-form 
        (onQuestionSave)="questionSaved()" 
        [quizId]="quizId" 
        *ngSwitchCase="'QCM'"
        [context]="context" 
        [question]="question">
    </app-qcm-question-form>
    <app-input-question-form [quizId]="quizId" *ngSwitchCase="'INPUT'"></app-input-question-form>
    <app-ordering-question-form [quizId]="quizId" *ngSwitchCase="'ORDERING'"></app-ordering-question-form>

</div>